<div *ngIf="registry">

    <h2>Details</h2>
    <div><span>id: </span>{{registry.id}}</div>
    <div>
      <label>Comment:
          <input [(ngModel)]="registry.startdate" [matDatepicker]="myDatepicker1">
          <mat-datepicker #myDatepicker1></mat-datepicker>
          <input [(ngModel)]="registry.enddate" [matDatepicker]="myDatepicker2">
          <mat-datepicker #myDatepicker2></mat-datepicker>
        <input [(ngModel)]="registry.description" placeholder="description" />
      </label>
    </div>
  
  </div>