<h3>Registries</h3>
<div class="grid grid-pad">
  <a *ngFor="let registry of registries" class="col-1-4">
    <div class="module registry"
    [class.selected]="registry === selectedRegistry" 
    (click)="onSelect(registry)">
        <h4>ID: {{registry.id}}</h4>
        <h4>Kezdés: {{registry.start_time}}</h4>
        <h4>Vége: {{registry.end_time}}</h4>
        <h4>Megjegyzés: {{registry.comment}}</h4>
    </div>
  </a>
</div>

<app-registry-details [registry] = selectedRegistry></app-registry-details>