.main-content{
    width: 100%;
    height: 600px;
    background-color: lightslategray;
    z-index: -1;
}

.example-sidenav-content {
  display: flex;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.fill-remaining-space {
    flex: 1 1 auto;
  }
