<div *ngIf="authService.isLoggedIn">
    <mat-toolbar color="primary">

        <span>{{title}}</span>

        <button mat-button class="toolbar-button" (click)="registrySelected = false" (click)="calendarSelected = false"
            (click)="teamSelected = false" (click)="dashSelected = true" a routerLink="/dashboard">
            Main page
        </button>

        <button mat-button class="toolbar-button" (click)="calendarSelected = true" (click)="teamSelected = false" (click)="registrySelected = false"
            (click)="dashSelected = false" a routerLink="/calendars">
            My calendars
        </button>

        <button mat-button class="toolbar-button" (click)="teamSelected = true" (click)="calendarSelected = false" (click)="registrySelected = false"
            (click)="dashSelected = false" a routerLink="/teams">
            My teams
        </button>

        <button mat-button class="toolbar-button" (click)="registrySelected = true" (click)="calendarSelected = false"
            (click)="teamSelected = false" (click)="dashSelected = false" a routerLink="/registries">
            My registries
        </button>

        <span class="fill-remaining-space" fxHide="false" fxHide.gt-sm></span>

    </mat-toolbar>

    <router-outlet *ngIf="dashSelected"></router-outlet>
    <router-outlet *ngIf="calendarSelected"></router-outlet>
    <router-outlet *ngIf="registrySelected"></router-outlet>
    <router-outlet *ngIf="teamSelected"></router-outlet>
</div>
<div *ngIf="!authService.isLoggedIn">
    <h1 routerLink="/login">Login</h1>
    <router-outlet></router-outlet>
</div>
