<h2>My Teams</h2>
<ul class="teams">
  <li *ngFor="let team of teams" 
  [class.selected]="team === selectedTeam" 
  (click)="onSelect(team)">
    <span class="team">{{team.id}}</span> {{team.team_name}}
  </li>
</ul>

<h2>New Team</h2>
<input [ngModel]="newteam?.team_name" (ngModelChange)="newteam.team_name = $event" type="text" placeholder = "Team name">
<input [ngModel]="newteam?.workplace" (ngModelChange)="newteam.workplace = $event" type="text" placeholder = "Workplace">
<button mat-flat-button (click) = "newTeam()">New team</button>

<div *ngIf = "selectedTeam">
  <h3>Teammates of {{selectedTeam.team_name}}</h3>
  <ul class = "teams">
    <li *ngFor="let teammate of teammates" >
      <span>{{teammate.name}}, {{teammate.position}}</span>  
    </li>
  </ul>
  <button mat-flat-button (click) = "addUser()">Join Team!</button>
</div>
